.portfolio {
  padding: 30px 0 50px;
}

.portfolio__title {
  font-size: 18px;
  line-height: 1.1;
  color: #8b8b8b;
  margin: 0;
  font-weight: 400;
}

.portfolio__list {
  margin: 50px 0 0;
  list-style: none;
  padding: 0 30px 0;
}

.portfolio__item {
  border-bottom: 1px solid #424242;
  margin-bottom: 20px;
}

.portfolio__list :last-child {
  border-bottom: 0px;
  margin-bottom: 0px;
}

.item__link {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item__name {
  font-size: 30px;
  line-height: 1.66;
  margin: 0;
  padding-bottom: 19px;
  letter-spacing: -0.04em;
}

.item__arrow {
  width: 29px;
  height: 60px;
  background-image: url("../../images/arrow_top_right.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1024px) {
  .portfolio {
    padding: 90px 50px 70px;
  }

  .item__name {
    font-size: 28px;
    line-height: 1.78;
    margin: 0;
  }

  .item__arrow {
    width: 27px;
    height: 60px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio {
    padding: 0 14px 51px;
  }
  .portfolio__title {
    font-size: 14px;
    line-height: 1.4;
  }

  .portfolio__list {
    margin-top: 42px;
  }

  .item__name {
    font-size: 18px;
    line-height: 1.55;
    padding-bottom: 19px;
  }

  .item__arrow {
    width: 18px;
    height: 28px;
    background-size: 60%;
  }
}
