.about {
  display: flex;
  flex-direction: column;
  padding: 110px 70px;
  background-color: #202020;
}

.section__text-frame {
  border-bottom: 1px solid #dadada;
  padding-bottom: 10px;
  margin: 0 10px;
}

.section__header {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  letter-spacing: -0.04em;
}

.table {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  margin-top: 70px;
  column-gap: 20px;
}

.table__block {
  display: flex;
  flex-direction: column;
}

.table__header {
  font-size: 20px;
  color: #ffffff;
  font-weight: 400;
  margin: 0;
  letter-spacing: -0.04em;
}

.table__content {
  font-size: 14px;
  line-height: 1.4;
  color: #ffffff;
  font-weight: 400;
  margin: 0;
  padding-top: 26px;
}

.timeline {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 36px 1fr;
  row-gap: 14px;
  margin-top: 110px;
}

.timeline__content {
  margin: 0;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  display: inline-grid;
  place-items: center;
}

.timeline__content_type_black {
  color: black;
  background-color: #3ddc84;
}

.timeline__content_type_white {
  color: #ffffff;
  background-color: #303030;
}

.timeline__content_type_tech {
  font-weight: 500;
  color: #8b8b8b;
}

@media screen and (max-width: 1024px) {
  .about {
    padding: 90px 50px;
  }

  .table__content {
    font-size: 12px;
    line-height: 1.5;
    padding-top: 22px;
  }

  .table {
    column-gap: 30px;
  }

  .timeline {
    margin-top: 93px;
  }
}

@media screen and (max-width: 767px) {
  .about {
    padding: 70px 18px;
  }

  .section__header {
    font-size: 18px;
  }

  .section__text-frame {
    padding-bottom: 28px;
  }

  .table {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }

  .table__header {
    font-size: 18px;
    line-height: 1.3;
  }

  .table__content {
    font-size: 11px;
    line-height: 1.45;
    padding-top: 16px;
  }

  .table__block {
    margin-bottom: 54px;
  }

  .table__block_type_last {
    margin-bottom: 0;
  }

  .timeline {
    margin-top: 57px;
    grid-template-columns: 100px 1fr;
    row-gap: 10px;
  }

  .timeline__content {
    font-size: 11px;
  }
}
